.CollumnCharacter
{
    max-width: 120px;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.SocialMedia
{
    max-width: 50px;
    max-height: 100%;
}

.data
{
    text-align: center;
}


.Sinopsis
{
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

.Saga
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Promo
{
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Enlace
{
    display: flex;
    justify-content: center;
    text-decoration:none;
    color:black
}

.SocialList
{
    display: flex;
    list-style: none;
    justify-content: center;
}

.SocialList li
{
    padding-left: 4%;
    padding-right: 4%;
}

.videoEpico
{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    text-decoration: none;
    color:darkslategrey;
    display: flex;
    justify-content: center;
}
.Menu-horizontal
{
    display: flex;
    list-style: none;
    justify-content:space-around;
}

.links:hover{
    color: green;
}

#TitleImage
{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


html
{
    font-family:'Kanit', sans-serif;
    color: black;
    background-image: linear-gradient(to bottom, #ffffff, #0059ffdb);
    font-size: 16px;

}

h2{
    color:darkgoldenrod;
}

img{
    max-width:100%
}

table{
    width: 100%;
}