:root {
    --darkColor: #181535;
    --clearColor: #e3eed3;
    --linkColor: #e88d43;
  }

html{
    background-color: var(--darkColor);
    color: var(--clearColor);
    font-family: 'Gluten', cursive;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

a{
    color: var(--linkColor);
    text-decoration: none;
}

a:hover{
    color: var(--clearColor);
}

img, iframe,  table{
    width: min(100% -15px, 850px);
    margin-inline: auto;
    text-align: center;
}

header{
    text-align: center;
}


.lines{
    border: 3px double var(--clearColor);
}

.centertext{
    text-align: center;
}

.linkcolor{
    color: var(--linkColor);
}

.borderimage{
    border-radius: 50%;
}

.limtImage{
    max-width: 60%;
}